body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.add {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    padding: 10px 16px;
    font-size: 14pt;
}

.remove {
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    padding: 5px 16px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 12pt;
    color: white;
}

.completed-btn {
    background-color: #86dc35;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 12pt;
    color: white;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: all 0.5s ease;
}

input[type=text] {
    border-radius: 5px;
    padding: 12px 16px;
    margin: 4px 2px;
}

select {
    border-radius: 5px;
    padding: 4px 2px;
    margin: 4px 2px;
}

.alert {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14pt;
    max-width: 50vw;
    margin: auto;
    text-align: left;
}

